/* #homeSection {
  background-image: url(./assets/banner-image.png);
  background-position: fill;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* font styles */
.font-inter {
  font-family: "Inter", sans-serif;
}

.font-playfair-display {
  font-family: "Playfair Display", serif;
}

/* colors and background */
.bg-custom-dark-brown {
  background-color: #423228 !important; 
}

#card-1 {
  background: url(./assets/card-image-1.png) lightgray 50% / cover no-repeat;
}

/* margins between sections */
#homeDecorationSection{
  margin-top: 15rem;
}

#tableDecorationSection {
  margin-top: 15rem;
}

#styleSection {
  margin-top: 15rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#arrivalSection {
  margin-top: 10rem;
}

#footerSection {
  margin-top: 15rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#footerSection2 {
  margin-top: 8rem;
}
